.Home {
	text-align: center;
}
.button {
	background-color: rgb(55, 114, 182);
	color: white;
	padding: 20px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	border-radius: 12px;
	cursor: pointer;
}
